OPENAI_API_KEY=
# Model to use
OPENAI_MODEL=gpt-5-mini

# Optional overrides
TIMEZONE=America/Los_Angeles
TOPICS_PATH=topics.txt
STATE_PATH=state.json
LOG_LEVEL=INFO
SEARCH_PROMPT=
CURATE_PROMPT=

# Pushbullet
PUSHBULLET_TOKEN=
# Go to pushbullet.com, then the Devices section, you can grab the device_iden for each device by looking at the url.
PUSHBULLET_DEVICE_IDEN=
